<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Start </title> 
<a href="https://qa-pod1.rel.infaqa.com/channel/mgmtapi/version/">Rel Pod1 channel service Health</a>
</head>

<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav navbar-right">
        </ul>
    </div>
</div>
 
<div class="container">